@use '../../../style/form-layout' as *;

.search-expansion-panel {
  mat-expansion-panel-header {
    background-color: whitesmoke;
  }
  form {
    @include form-layout;
  }
  mat-action-row {
    justify-content: flex-start;
  }
}

.table-expansion-panel {
  margin-top: 10px !important;
  div.mat-action-row {
    justify-content: flex-start;
    border-top-style: none;
    border-top-width: 0;
    padding: 16px 8px 16px 0px;
  }
}
